	
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[mergetool]
  trustExitCode = true
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --reuse-window --diff $LOCAL $REMOTE
[difftool]
  prompt = false
